<div>
  <div class="flex flex-col text-center gap-2">
    <p class="text-[#737373] text-sm">Tools / <span class="text-[#141414]">Loan Calculator</span></p>
    <h1 class="text-3xl font-medium text-[#141414] ">ROI Calculator</h1>
    <p class=" text-base text-[#525252]">
      Calculate the return on your investments <br> and evaluate the gain or loss.
    </p>
  </div>

  <div class="max-w-[900px] flex  bg-[#FFF] p-2 rounded-lg mt-10" style="box-shadow: 0px 1px 2px 0px #0B0B0B0D;">
    <div class="bg-[#FAFAFA] p-4 rounded-lg">
   

      <div class="flex flex-col gap-1">
        <div class="flex flex-col items-center border border-[#E5E5E5] rounded-lg p-2 ">
          <label class="text-sm text-[#737373]" for="amount-invested">Amount Invested</label>
          <div class="flex items-center">
            <span class="text-[#737373]">$</span>
            <input id="amount-invested" type="text" class="ml-1 w-full text-[#737373] text-base focus:outline-none bg-transparent border-0" placeholder="0.00">
          </div>
        </div>
      </div>

      
      <button
        class="flex flex-row justify-center items-center py-2 px-3 gap-1.5 mx-auto w-[332px] h-10 bg-[#141414] rounded-lg text-white">
        Calculate
      </button>
    </div>
    <div class="">

      <p class="text-sm text-[#737373]">
        Fill in the fields to calculate your investment’s ROI.
      </p>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7 16H17M4 4H20C21.1046 4 22 4.89543 22 6V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V6C2 4.89543 2.89543 4 4 4Z"
          stroke="#737373" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M10 8H10.001" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6 8H6.001" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M14 8H14.001" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M18 8H18.001" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M8 12H8.001" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M12 12H12.001" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M16 12H16.001" stroke="#141414" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>

  </div>

  <h1 class="text-2xl font-medium text-[#141414] mt-4 mb-2">
    How to use this calculator
  </h1>

  <p class="text-base text-[#363636]">
    Lorem ipsum dolor sit amet consectetur. Ultricies odio maecenas pretium aliquam. Mi ut semper nisi lacus sodales
    quisque id nibh ullamcorper. Donec eros at id id. Pretium ac amet et habitant nascetur. Ipsum dignissim pulvinar in
    fermentum adipiscing. Nec sit volutpat porttitor quam faucibus sed facilisis feugiat ultrices. Pharetra euismod
    velit urna nec quis. Sollicitudin egestas hendrerit ac convallis.
  </p>

  <h1 class="text-2xl font-medium text-[#141414] mt-4 mb-2">
    Definitions
  </h1>

  <p class="text-base text-[#363636]">
    Lorem ipsum dolor sit amet consectetur. Ultricies odio maecenas pretium aliquam. Mi ut semper nisi lacus sodales
    quisque id nibh ullamcorper. Donec eros at id id. Pretium ac amet et habitant nascetur. Ipsum dignissim pulvinar in
    fermentum adipiscing. Nec sit volutpat porttitor quam faucibus sed facilisis feugiat ultrices. Pharetra euismod
    velit urna nec quis. Sollicitudin egestas hendrerit ac convallis.
  </p>

</div>